brotlipy==0.7.0
certifi==2021.10.8
cffi==1.15.0
charset-normalizer==2.0.12
click==8.0.4
colorama==0.4.4
cryptography==36.0.1
dataclasses==0.8
filelock==3.6.0
future==0.18.2
huggingface-hub==0.4.0
idna==3.3
importlib-metadata==4.11.1
joblib==1.1.0
numpy==1.22.2
packaging==21.3
pycparser==2.21
pyOpenSSL==22.0.0
pyparsing==3.0.7
PySocks==1.7.1
PyYAML==6.0
regex==2022.1.18
requests==2.27.1
sacremoses==0.0.46
six==1.16.0
tokenizers==0.10.3
torch==1.10.2
tqdm==4.62.3
transformers==4.16.2
typing_extensions==4.1.1
urllib3==1.26.8
zipp==3.7.0
